.my-navbar
{
	background-color:#636;
	color: white;
	border:2px solid #D4D4D4;
    border-radius:4px,4px,4px,4px;
    padding-left:20px;
    padding-right:20px;


}

.dropdown-menu
{
  background-color:#636;
}

.dropdown-menu a{
	
    color: #FFFFFF;
}


#textcolor
{
	color:white;
}
.my-jumbotron
{

	height:42vh;
	background-color-:#636;
	background-image:url("/images/family.jpg");
	background-size:cover;
	-webkit-background-size: cover;
	background-position:center;
	background-repeat:no-repeat;


	
}
.mydropdown
{
	background-color:#636;
	color:white;

}
.imgstyle
{

	background:url("/images/sunrise.jpg");
	background-sixe:cover;
	-webkit-background-size: cover;
	background-position:center;
	background-repeat:no-repeat;
    opacity :0.8;

	left:0;
	right:0;
	
	
}
